attr==0.3.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==45.0.5
cython==3.1.2
dl==0.1.0
docutils==0.21.2
fastapi==0.116.1
htmlparser==0.0.2
ipython==8.12.3
ipywidgets==8.1.7
Jinja2==3.1.6

matplotlib==3.9.3

numpy==1.26.4
onnxruntime==1.19.2
opencv_contrib_python==4.6.0.66
opencv_python==4.6.0.66
opencv_python_headless==4.7.0.72
openvino==2024.6.0
openvino_dev==2024.6.0
Pillow==11.3.0
protobuf==3.20.2



torch==2.7.1
torchvision==0.22.1
tornado==6.5.1

ultralytics==8.3.163

uvicorn==0.35.0
python-multipart==0.0.18
